.jumbotron {
  background-position: top;
  background-size: cover;
  background-image: url(../Assignment_1/assets/backgrounds/hero.jpg);
  background-repeat: no-repeat;
}

}
.navbar {
  position: absolute;
}


.jumbotron h1{
  text-align: left;
}
.jumbotron h2{
  text-align: center;
}
.jumbotron p{
  text-align: center;
}
.card {
  background-size: cover;
  background-color: inherit;
  text-align: center;
  background-image: url(../Assignment_1/assets/backgrounds/about.jpg);
  background-repeat: no-repeat;
}

.column {
  float: left;
}
